<div class="container">

  <div>
    <acme-navbar creation-date="{{dateTimeStamp}}"></acme-navbar>
  </div>

  <p class="lead">
    <img src="/assets/images/angular.png" alt="Cool Logo"><br>
    Angular 1.4.9, Webpack, gulp and hot module reloading.
  </p>
  <p class="animated infinite" ng-class="main.classAnimation">
    <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Splendid Friends</button>
  </p>

  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
        <div class="caption">
          <h3>{{ awesomeThing.title }}</h3>
          <p>{{ awesomeThing.description }}</p>
          <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>
        </div>
      </div>
    </div>
  </div>

</div>
